<%- include("header") -%>
<body>
    <div class="content">
        <div class="header">
            <h1 class="heading"><a class="head-link" href="/science">Discover</a></h1>
            <p class="sub-head">News from all over the world</p>

            <form class="item" action="/submit" method="post">
                <button type="submit" name="button" value="tech">Tech</button>
                <button type="submit" name="button" value="business">Business</button>
                <button type="submit" name="button" value="entertainment">Entertainment</button>
                <button type="submit" name="button" value="science">Science</button>
                <button type="submit" name="button" value="sports">Sports</button>
            </form>
        </div>
        
        <% articles.forEach(function (article) { %>
            <div class="center">
            <div class="news"></div>
                <h1 class="title"><%= article.title %></h1>
                <div class="alignment">
                    <div class="image-align">

                        <% if (/^https?:\/\/\S+\.\S+$/.test(article.urlToImage)) { %>
                            <img class="image" src="<%= article.urlToImage %>" alt="Article Image">
                        <% } else { %>
                            <img class="image" src="img/image-not-found.png" alt="Article Image">
                        <% } %>
                          
                    </div>
                    <div class="content-align">
                        <p class="author"><%= article.author %></p>
                        <p class="time"><%= article.publishedAt.slice(0, 10) %></p>
                        <p class="desc"><%= article.description %></p>
                        <p class="source"><%= article.source.name %></p>
                        <a class="link" target="_blank" href="<%= article.url %>">Full article <img class="arrow" src="img/arrow.svg" alt=""></a>
                    </div>
                </div>
            </div>
            </div>
        <% }); %>
        
        <%- include("nav") -%>
        
    </div>
</body>
</html>